# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List development environment open source tools used in data science
- simple arithmetic expression to mutiply then add integers
- convert 200 minutes to hours by diving by 60

Some of the popular languages that Data Scientists use are:
Python / R / C++ / Java / SQL / JavaScript ... etc

Some of the commonly used libraries used by Data Scientists include:
NumPy / Pandas / SciPy / Matplotlib / Seabron / Plotly ...etc

| Data Science Tools |
| -------------------|
|Jupyter Notebooks|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [11]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [12]:
200/60

3.3333333333333335

## Author
Ng Chun Yin